@model IEnumerable<AniView.Models.AnimeInfo>

@{
    ViewData["Title"] = "AnimeList";
}

<h1>AnimeList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimeDescription)
        </td>
        <td>
                    <img class="float-left p-2" src="@item.Image" height="150" />
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.AnimeId }) |
                @Html.ActionLink("Details", "Details", new {id=item.AnimeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AnimeId })
            </td>
        }
       
    </tr>
}
    </tbody>
</table>
